@{
    ViewData["Title"] = "Criadores";
}
<h1>@ViewData["Title"]</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Alexandre Bezerra</th>
      <th scope="col">Cayo Vinicius</th>
      <th scope="col">Michel Aleksander</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <td>RA081200034</td>
      <td>RA081200050</td>
      <td>RA081200049</td>
    </tr>
  </tbody>
</table>