@model List<UserViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Curriculos Cadastrados</h2>
<br />
<br />
<a href="/user/create" class="btn btn-success"> Novo Currículo</a>
<br />
<br />
<table class="table table-responsive">
    <tr>
        <th>CPF</th>
        <th>Nome</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>

            <td>@user.CPF</td>
            <td>@user.Nome</td>
        </tr>
    }
</table>

